.graphs-container {
  text-align: center;
}

.graph-one {
  height: 90%;
  width: 90%;
  position: relative;
}

.graph-two {
  height: 70%;
  width: 70%;
  position: relative;
  padding-bottom: 20px;
}
